html {
    font-size: 100%;
    margin: 0px;
    padding: 0px;
  }
  
body{
    background-color: white;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;    
}

.top-navbar {
     
}

.nav-id{
    display: none;
}

.header-logo{
    width: 80px;
    margin: 20px;
}

.above-fold{
    border-radius: 4px;
    /* border-style: solid;   */
    height: 100vh;
}


.value-prop{
    color: #2762BC;
    margin: auto;
    max-width: 280px;  
    border-color:#2762BC;
    border-radius: 4px;
    margin-top: 20vh;
    /* border-style: solid;   */
}

.main-text {
    font-size: 38px;
    font-weight: 600;
    margin: 10px auto 10px auto;
    max-width: 200px;
    text-align: center;
}

.main-description {
    font-size: 16px; 
    max-width: 240px; 
    margin: 30px auto 30px auto; 
    text-align: center;
    color: #032E6E;
    line-height: 30px;
}

.button-container{
    margin: auto;
    width: 180px;
    border-color:#2762BC;
    border-radius: 4px;
    /* border-style: solid; */
}


.hire-me{
    width: 100%;
    height: 38px;
    background-color:#2762BC;
    color: white;
    font-size: 18px;  
    margin: 10px auto 10px auto;
    border-color:#2762BC;
    border-radius: 4px;
    border-style: solid;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


.value-prop-image{
    display: none;
}


.work-section{
    /* display: none ; */
    margin: auto;
    
    background-color: #2762BC;
    color: #ffffff;
    padding: 20px 0px 40px 0px;
}

.work-item{
    width: 280px;
    margin: auto;
}

.work-image{
    /* display: none; */
    margin: 0px auto 40px auto;
    padding-top: 80px;
    width: 280px;
}

.work-text{
    /* max-width: 280px; */
    margin: 0px auto 40px auto;
}


.large-button-container{
    margin: auto;
    width: 200px;
    border-color:#2762BC;
    border-radius: 4px;
    /* border-style: solid; */
}


.white-button{
    width: 100%;
    height: 38px;
    color:#2762BC;
    background-color: white;
    font-size: 18px;  
    font-weight: 550;
    margin: 10px auto 10px auto;
    padding: 10px 0px 30px 0px;
    border-color:#2762BC;
    border-radius: 4px;
    border-style: solid;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.extension{
    width: 100%;

}

.work-title{
    font-size: 42px;
    text-align: center;
    font-weight: 600;
}

.features-section{
    background-color: #F4F8FC;
    padding: 20px 0px 60px;
}

.features-grid{
    margin: auto;
    max-width: 300px;
}

.section-description{
    color: #2762BC;
    font-size: 28px;
    font-weight: 600;
    margin: 30px auto 40px auto;
    text-align: center;
    max-width: 280px;
}

.features-card{
    height: 200px;
    margin: 10px 5px 15px 5px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    background-color: white;
}

.card-text{
    font-size: 24px;
    font-weight: 600;
    color: #2762BC;
}

.card-description{
    padding-top: 20px;
    font-size: 16px;
    max-width: 380px;
    color: #032E6E;
}


.footer{
    margin-top: 80px;
    
    /* justify-content: space-between;    */
}
/* 
.footer p{
    color: #2762BC;
} */

.first-grid{
    margin: 20px 50px;
}

.footer-subheading{
    opacity: 0.8;
    color: #032E6E;
}

.footer-heading{
    color: rgb(5, 39, 90);
    font-weight: 600;
}

.second-grid{
    margin: 20px 50px;
}

.second-grid p{
    font-size: 14px;
    padding-top: 40px;
    color: #032E6E;
    opacity: 0.9;
}

/* Screen Sizes greater than 500px */

@media screen and (min-width: 499px){
    .value-prop {
        margin: 15vh auto 10px auto;
        max-width: 380px;
    }

    .main-text{
        font-size: 52px;
        max-width: 380px;
    }

    .main-description {
        font-size: 16px; 
        max-width: 380px; 
        margin: 30px auto 30px auto; 
        text-align: center;
        color: #032E6E;
    }

    .work-item{
        width: 480px;
        margin: auto;
    }
    
    
    .work-title{
        font-size: 32px;
        text-align: center;
        font-weight: 600;
    }
    
        
    .features-grid{
        margin: auto;
        max-width: 480px;
        
    }
    .card-description{
        padding-top: 20px;
        font-size: 18px;
        max-width: 380px;
        color: #032E6E;
        font-kerning: 20px;
        line-height: 30px;
    }

    
.features-card{
    height: 200px;
    margin: 10px 5px 40px 5px;

}
    
}



/* Screen Sizes greater than 699px */

@media screen and (min-width: 699px){

    .value-prop{
        margin: 10vh 10px 10px 60px;
    }

    .main-text {
        text-align: left;
    }

    
    .main-description {
        text-align: left;
    }

    .button-container{
        margin: 30px 10px 10px 0px; 
    }
}